body {
  background: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%);
  height: 100vh;
}

.main-content-container {
  display: flex;
  height: 80vh;
  margin-top: 40px;
  width: 96%;
  margin: 30px auto 0 auto;
  justify-content: space-around;
  max-width: 1100px;
}

@media screen and (max-width: 600px) {
  .main-content-container {
    flex-direction: column;
  }
}

@media screen and (max-width: 400px) {
  body {
    height: 120vh;
  }
}